.instagram-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.instagram-item {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  margin: 1rem;
  transition: 1s ease all;
}

.instagram-link {
  text-decoration: none;
}

.instagram-link__more {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}
